<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-container">
      <img src="./assets/img/Logo.png">
    </div>

    <ul class="menu-items">
      <li routerLink="/">
        <mat-icon>fact_check</mat-icon>Dashboard
      </li>

      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.name" routerLink="/{{node.url}}">
          <mat-icon>person</mat-icon>
          {{node.name}}
        </mat-tree-node>
      </mat-tree>

      <li>test</li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class="menu-icon" (click)="drawer.toggle()">menu</mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>

  </div>

</mat-drawer-container>
