.user-detail-header{
  height: 300px;
  background-color: aquamarine;
  color: white;
  display: flex;
  align-items: flex-end;

  img{
    height: 100px;
    width: 100px;
    object-fit: contain;
    border-radius: 100%;
  }
}

.user-details{
  height: 100px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h2{
    margin-bottom: 0;
  }
}

.pin-upper-right{
  position: absolute;
  top: 0;
  right: 0;
}
