<div class="dialog-container">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <h1 mat-dialog-title>Add Broker</h1>
  <div mat-dialog-content>
    <div>
      <mat-form-field appearance="outline" class="mr-right8">
        <mat-label>First Name</mat-label>
        <input [disabled]="loading" matInput placeholder="First Name" [(ngModel)]="broker.firstName">
        <!-- <mat-hint>Please enter the first Name</mat-hint> -->
      </mat-form-field>

      <mat-form-field appearance="outline" class="mr-left8">
        <mat-label>Last Name</mat-label>
        <input [disabled]="loading" [(ngModel)]="broker.lastName" matInput placeholder="Last Name">
        <!-- <mat-hint>Please enter the last Name</mat-hint> -->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input [disabled]="loading" [(ngModel)]="broker.email" matInput placeholder="Email">
        <!-- <mat-hint>Please enter the last Name</mat-hint> -->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Company Name</mat-label>
        <input [disabled]="loading" [(ngModel)]="broker.companyName" matInput placeholder="Name of the Company">
        <!-- <mat-hint>Please enter the last Name</mat-hint> -->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Street + Housenumber</mat-label>
        <input [disabled]="loading" [(ngModel)]="broker.street" matInput placeholder="Street + Housnumber (Company)">
        <!-- <mat-hint>Please enter the last Name</mat-hint> -->
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="mr-right8">
        <mat-label>Zip Code</mat-label>
        <input [disabled]="loading" [(ngModel)]="broker.zipCode" matInput placeholder="Zip Code (Company)">
        <!-- <mat-hint>Please enter the last Name</mat-hint> -->
      </mat-form-field>
      <mat-form-field appearance="outline" class="mr-left8">
        <mat-label>City</mat-label>
        <input [disabled]="loading" [(ngModel)]="broker.city" matInput placeholder="City">
        <!-- <mat-hint>Please enter the last Name</mat-hint> -->
      </mat-form-field>
    </div>

  </div>
  <div mat-dialog-actions>
    <button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>
    <button [disabled]="loading" (click)="saveUser()" mat-button cdkFocusInitial>Save</button>
  </div>
</div>
